@page "/product"
@rendermode InteractiveServer

<h1>Product Entry</h1>

<EditForm Model="@EditModel" OnValidSubmit="HandleSubmit">
    <div>
        <div>
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="@EditModel.Name" />
        </div>
        <div>
            <label for="description">Description</label>
            <InputTextArea id="description" @bind-Value="@EditModel.Description" />
        </div>
        <div>
            <label for="price">Price</label>
            <InputNumber id="price" @bind-Value="@EditModel.Price" />
        </div>
        <div>
            <label for="dis-price">Discounted price</label>
            <InputNumber id="dis-price" @bind-Value="@EditModel.DiscountedPrice" />
        </div>
    </div>
    <div>
        <button type="button">cancel</button>
        <button type="submit">Add</button>
    </div>
</EditForm>